<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-1">
    <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>

      <table class="table">
        <thead>
          <tr>
            <th style="width: 100px;"></th> <!-- Image固定幅 -->
            <th>Title</th> <!-- Title固定幅 -->
            <th>Opinion</th>
            <th>User</th> <!-- User固定幅 -->
          </tr>
        </thead>
        <tbody>
          <% @books.each do |book| %>
            <tr>
              <td>
                <% if book.image.attached? %>
                  <%= image_tag book.image, size: "80x80", class: "img-thumbnail" %>
                <% else %>
                  <%= image_tag "sample-author1.jpg", size: "80x80", class: "img-thumbnail" %>
                <% end %>
              </td>
              <td><%= link_to book.title, book_path(book) %></td>
              <td>
                <div style="max-height: 80px; overflow: hidden; text-overflow: ellipsis;">
                  <%= simple_format(book.body) %>
                </div>
              </td>
              <td><%= link_to book.user.name, user_path(book.user) %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>